/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 3 oct 2025, 10:14:58
    Author     : alvaro.gargon.4
*/

*{margin: 0; padding: 0;}
        body{
            align-items: center;
            background-color: beige;
        }
        .botonIcono{
            top: 5px;
            position: absolute;
            right: 10%;
        }
        #inicioSesion{
            position: relative;
            left: 40%;
            width: 50%;
        }
        .obligatorio{
            background-color: lightgoldenrodyellow;
        }
        .botonGenerico{
            position: relative;
            left: 1%;
            color: white;
            width: 6rem;height: 2rem;
            background-color: lightcoral;
            border: 2px solid black;
            border-radius: 5px;
            left: 40%;
        }
        .botonGenericoFormulario{
            position: relative;
            left: 1%;
            color: white;
            width: 7rem;height: 2rem;
            background-color: lightcoral;
            border: 2px solid black;
            border-radius: 5px;
        }
        h1{
            position: absolute;
            left: 45%;
        }
        h2{
            position: relative;
            left: -40%;
        }
        h3{
            margin-top: 20px;
            position: relative;
            width: 1000px;
            left: 40%;
        }
        img{
            position: relative;
            width: 50px;height: 50px;
            background-color: beige;
            padding: 0px
        }
        p{
            padding: 10px
        }
        header{
            padding: 20px;
            background-color: #403F6F;
            color: beige;
            text-align: center;
            margin-bottom: 10px; 
        }
        footer{
            position: relative;
            background-color: #403F6F;
            color: beige;
            text-align: center;
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: 15%;
        }
        .footerPaginaGrande{
            position: absolute;
            background-color: #403F6F;
            color: beige;
            text-align: center;
            position: absolute;
            bottom: -1900px;
            width: 100%;
            height: 15%;
        }
        .contenedor{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .proyectos{
            margin: auto;
            color: beige;
            margin: 10px;
            padding: 10px;
            background-color: #403F6F;
            width: 50%;
            border-radius: 30px
        }
        a{
            color: lightcoral;
            text-decoration: none;
        }
        
        .principal {
            position: relative;
            left: 10%;
            margin-bottom: 40px;
            width: 70%;
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            margin-bottom: 30px;
        }

        .principal td {
            padding: 10px;
            border: 1px solid #3a3a3a;
            vertical-align: middle;
            text-align: left;
            
        }
        .principal th {
            padding: 10px;
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            vertical-align: middle;
            text-align: left;
            background-color: lightblue;
        }
        .principal th:first-child{
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: lightblue;
        }   
        .principal td:first-child{
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: lightblue;
        }
        
        .secundario {
            width: 70%;
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            margin-bottom: 30px;
        }
        
        .secundario td {
            padding: 10px;
            border: 1px solid #3a3a3a;
            vertical-align: middle;
            text-align: left;
        }
        .secundario tr:not(:first-child) td:first-child{
            background-color: lightblue;
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 40%; 
        }
        
        .secundario tr:first-child td:nth-child(2), tr:first-child td:nth-child(3){
            border: 2px solid #3a3a3a;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: lightblue;    
        }
        .secundario td:last-child{
            border: 1px solid #3a3a3a;
            border-right: 2px solid #3a3a3a;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        .secundario td:first-child{
            padding: 10px;
            border: 0px;
            vertical-align: middle;
            text-align: center;
        }
        
        table img {
            width: 40px;
            height: 40px;
        }